header{
    background-color: #C5DEDD;
    padding: 8px;
    text-align: center;  
    width:100%; 
} 
#logo {
    padding: 2px;
    width: 400px;
}
#menu {
    display:flex;
    text-align: center;
    flex-wrap: wrap; 
    justify-content:space-evenly;
}
#btnMenu{
    font-size: 50px;
    color: #7999af;
}
#directors, #filter-years {
    border-color: #99C1DE;
    background-color: #99C1DE;
    color: white;
    border-radius: 11px;
    height: 40px;
    font-size: 20px;
    font-family: 'Sawarabi Gothic', sans-serif;
    outline:none;  
    margin: 4px;
    box-shadow: inset -2px -2px 15px #7999af;
}
#directors {
    width: 210px;
}
#filter-years{
    width: 110px;
}
#buscador {
    background-color: #99C1DE;
    color: white;
    border-radius: 11px;
    width: 412px;
    height: 40px;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 20px;
    outline:none;
    border: none;
    margin: 4px;
    box-shadow: inset -2px -2px 20px #7999af;
}
::placeholder {
    color: white;
} 
body{
    margin: 0px;
    margin-bottom: 50px;
    font-family: 'Sawarabi Gothic', sans-serif;
} 
.cardClass {
    background-color: #99C1DE;
    color:white;
    border-radius: 11px;
    text-align: center;
    width: 330px;
    height: 380px;
    padding: 7px;
    margin: 20px;
    font-size: 20px;
    font-family: 'Sawarabi Gothic', sans-serif;
    box-shadow: 5px 5px 15px #556c7c;
} 
.posters{
    border-radius: 11px;
}
#showAllFilms {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;        
} 
.moviesInfo {
    display: flex; 
}
.title{
    text-align: center; 
    font-size: 30px;
}
aside{ 
    width: 20%; 
    margin-top: 0px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    float:left;
} 
.producer , .director{
    background-color: #EDDCD2;
    border-radius: 11px; 
    padding:17px;
} 
.director{
    margin-bottom: 5px;
}
.mainSection{ 
    width: 60%; 
    margin-top: 0px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.description{
    margin-top: 0px;
    background-color: #99C1DE;
    border-radius: 11px;
    padding:17px; 
    margin-bottom: 4px;
}
.releaseDate{
    background-color: #EDDCD2;
    border-radius: 11px; 
    padding:17px;
    width: 170px;
}
.subtitle{
    font-size: 20px;
    padding:0px;
    margin: 0px;
}
.peopleImg{
    border-radius: 11px;
    width: 100px;
}
.peopleSection , .locationSection{
    border-radius: 11px;
    border: 8px solid #99C1DE;
    padding: 10px;
}
.peopleCards{
    display:flex;
    justify-content: space-around;
    background-color: #C5DEDD;
    border-radius: 11px;
    margin: 10px;
    padding: 5px;
}
.locationSection {
    margin-top: 25px;
}
/* Estilo que permite hacer la busqueda */
.filter{
    display: none;
}
footer{
    background: #EDDCD2;
    bottom: 0%;
    width: 100%;
    position: fixed;
}
#copyright{
    font-family: 'Sawarabi Gothic', sans-serif;
    flex-wrap: wrap;
    padding-left: 40px;  
}
.containerFooter{
    display: flex; 
    justify-content: space-between;
}
.icons-social{
    padding-right: 40px;
    padding-top: 3px;
}

.s-icons{   
    display: inline-block;
    border-radius: 50%;
    background-color: #99C1DE;
    font-size: 43px;
    color: #000000;
    width: 48px;
    height: 48px;
}

@media screen and (max-width: 800px){
    #logo {
        width: 300px;
    }  
    #buscador {
        width: 390px;
        height: 36px;
        font-size: 18px;
        margin: 4px;
    }  
    #directors, #filter-years {
        height: 36px;
        font-size: 17px;
        margin: 4px;
    }
    #directors {
        width: 180px;
    }
    #filter-years{
        width: 95px;
    }
    .cardClass {
        width: 315px;
        height: 365px;
        margin: 15px;
        font-size: 18px;
    }

    #copyright{
        padding-left:30px;
    }
    .icons-social a i{
        font-size: 35px;
        width: 35px;
        height: 35px;
    }
    .icons-social{
        padding-right: 30px;
        padding-top: 10px;
    }
}
@media screen and (max-width: 480px){
    #logo {
        width: 280px;
    }  
    .cardClass {
        width: 290px;
        height: 350px;
    } 
    #copyright{
        padding-left:10px;
    }
    .icons-social a i{
        font-size: 26px;
        width: 26px;
        height: 26px;
    }
    .icons-social{
        padding-right: 10px;
        padding-top: 10px;
    }
}


